div.controls-card(md-whiteframe="6")

    //- Top row for player
    div(layout="row" layout-align="start center" ng-if="control.mode == 'player'")
        img.control-avatar(ng-src="{{ lobby.avatar() }}")
        div(layout="column")
            span.control-name.md-display-1 {{ lobby.player }}
            span.control-title.md-caption {{ lobby.is_banker() ? 'Banker' : 'Player' }}
        span(flex)
        span.control-balance.md-display-3 ${{ lobby.balance }}

    //- Top row for bank
    div(layout="row" layout-align="start center" ng-if="control.mode == 'bank'")
        md-icon.control-avatar-bank.md-primary account_balance
        span.md-display-1 Bank
        span(flex)
        span.control-balance.md-display-3 ${{ lobby.bank }}

    //- Top row for parking
    div(layout="row" layout-align="start center" ng-if="control.mode == 'parking'")
        md-icon.control-avatar-bank.md-warn.md-hue-2 directions_car
        span.md-title Free<br>Parking
        span(flex)
        span.control-balance.md-display-3 ${{ lobby.parking }}

    div(
        ng-if="(control.mode != 'bank' && control.mode != 'parking') || lobby.is_banker()"
        layout="column" layout-align="start stretch"
        )
        hr.control-divider
        md-menu(flex)
            md-button.md-accent.md-raised(
                layout-fill
                ng-click="$mdOpenMenu($event)"
                ) Send Money
            md-menu-content(width="7")
                //- Bank icon, for players
                md-menu-item(
                    ng-click="lobby.transfer(control.mode, '__bank__')"
                    ng-if="control.mode != 'bank'"
                    )
                    md-button
                        md-icon account_balance
                        span Bank

                //- Everyone icon, for bankers
                //- md-menu-item(
                //-     ng-click="lobby.transfer(control.mode, '__everyone__')"
                //-     ng-if="control.mode == 'bank'"
                //-     )
                //-     md-button
                //-         md-icon select_all
                //-         span Everyone

                //- Free parking button for all players
                md-menu-item(
                    ng-click="lobby.transfer(control.mode, '__parking__')"
                    ng-if="control.mode != 'parking'"
                    )
                    md-button
                        md-icon directions_car
                        span Free Parking

                //- Repeating buttons for players (minus self, if in player controls)
                md-menu-item(
                    ng-repeat="ply in lobby.players"
                    ng-click="lobby.transfer(control.mode, ply)"
                    ng-if="(ply != lobby.player) || control.mode == 'bank'"
                    )
                    md-button
                        img.control-avatar-button(ng-src="{{ lobby.avatar(ply) }}")
                        span {{ ply }}
