md-dialog(layout="column" layout-align="start stretch")
    md-content(flex layout-padding)
        md-list.md-dense
            md-list-item(
                ng-repeat="(name, balance) in list.players"
                layout="row"
                )
                img.md-avatar(ng-src="{{ list.avatar(name) }}")
                div(
                    flex
                    layout="row"
                    layout-align="start center"
                    style="margin-right: 8px;"
                    )
                    span.md-title {{ name }}
                    span(flex style="min-width: 8px;")
                    span.md-caption ${{ balance }}
                md-button.md-icon-button.md-warn(
                    ng-click="list.kick($event, name)"
                    ng-disabled="name == list.banker"
                    )
                    md-icon block
                md-button.md-icon-button.md-warn(
                    ng-click="list.promote($event, name)"
                    ng-disabled="name == list.banker"
                    )
                    md-icon star
    md-button.md-primary.md-raised(ng-click="list.cancel()") Close List
