//- Loading animation
div(
    layout-fill
    ng-init="lobby.connect()"
    ng-show="lobby.loading"
    layout="column"
    layout-align="center center"
    )
    md-progress-circular.md-accent(
        md-mode="indeterminate"
        md-diameter="62"
        )


//- Content to show when no longer loading
div(
    layout-fill
    ng-hide="lobby.loading"
    )
    player-controls(mode="player")
    player-controls(mode="bank")
    player-controls(mode="parking")
