//- Loading animation
div(
    layout-fill
    ng-init="lobby.connect()"
    ng-show="lobby.loading"
    layout="column"
    layout-align="center center"
    )
    md-progress-circular.md-accent(
        md-mode="indeterminate"
        md-diameter="62"
        )


//- Content to show when no longer loading
div(
    layout-fill
    ng-hide="lobby.loading"
    )



    //- The actual control cards
    player-controls(mode="player")

    //- Player list
    //- div.player-list-card(md-whiteframe="6" ng-include="'/html/template/player-list.html'")

    player-controls(mode="bank")
    player-controls(mode="parking")

    //- Activity log
    div.lobby-log-card(md-whiteframe="6")
        md-list.md-dense
            md-list-item
                div.gutter(layout="row" layout-align="center")
                    md-icon.darken schedule
                div.darken Activity Log
            md-list-item(
                ng-repeat="entry in lobby.log"
                )
                span.gutter {{ entry[0] }}
                h6.message {{ entry[1] }}
